In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [29]:
covid = pd.read_csv("data/COVID-19/covid19_1210.csv")
covid.head(20)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-10-12 04:22:51,33.939110,67.709953,200626.0,7807.0,NaN,NaN,Afghanistan,515.372592,3.891320
1,NaN,NaN,NaN,Albania,2022-10-12 04:22:51,41.153300,20.168300,332534.0,3590.0,NaN,NaN,Albania,11555.146292,1.079589
2,NaN,NaN,NaN,Algeria,2022-10-12 04:22:51,28.033900,1.659600,270716.0,6881.0,NaN,NaN,Algeria,617.353617,2.541778
3,NaN,NaN,NaN,Andorra,2022-10-12 04:22:51,42.506300,1.521800,46275.0,155.0,NaN,NaN,Andorra,59891.283246,0.334954
4,NaN,NaN,NaN,Angola,2022-10-12 04:22:51,-11.202700,17.873900,103131.0,1917.0,NaN,NaN,Angola,313.789810,1.858801
5,NaN,NaN,NaN,Antarctica,2022-10-12 04:22:51,-71.949900,23.347000,11.0,0.0,NaN,NaN,Antarctica,NaN,0.000000
6,NaN,NaN,NaN,Antigua and Barbuda,2022-10-12 04:22:51,17.060800,-61.796400,9098.0,146.0,NaN,NaN,Antigua and Barbuda,9290.499142,1.604748
7,NaN,NaN,NaN,Argentina,2022-10-12 04:22:51,-38.416100,-63.616700,9713594.0,129958.0,NaN,NaN,Argentina,21492.260217,1.337898
8,NaN,NaN,NaN,Armenia,2022-10-12 04:22:51,40.069100,45.038200,444482.0,8700.0,NaN,NaN,Armenia,14999.895385,1.957335
9,",,Australian Capital Territory,Australia,2022-...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,",,New South Wales,Australia,2022-10-12 04:22:5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,",,Northern Territory,Australia,2022-10-12 04:2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,",,Queensland,Australia,2022-10-12 04:22:51,-27...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,",,South Australia,Australia,2022-10-12 04:22:5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,",,Tasmania,Australia,2022-10-12 04:22:51,-42.8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,",,Victoria,Australia,2022-10-12 04:22:51,-37.8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,",,Western Australia,Australia,2022-10-12 04:22...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,Austria,2022-10-12 04:22:51,47.516200,14.550100,5273660.0,20857.0,NaN,NaN,Austria,58554.583407,0.395494
18,NaN,NaN,NaN,Azerbaijan,2022-10-12 04:22:51,40.143100,47.576900,822278.0,9931.0,NaN,NaN,Azerbaijan,8109.910323,1.207742
19,NaN,NaN,NaN,Bahamas,2022-10-12 04:22:51,25.025885,-78.035889,37318.0,833.0,NaN,NaN,Bahamas,9489.685898,2.232167

In [11]:
covid["Country_Region"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', nan,
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Holy See', 'Honduras', 'Hungary', 'Iceland', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Jamaica', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Micronesia',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Uganda', 'United Arab Emirates',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [12]:
covid["Country_Region"].nunique()

177

In [13]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3839 non-null   object
 1   Admin2               0 non-null      float64
 2   Province_State       0 non-null      float64
 3   Country_Region       177 non-null    object
 4   Last_Update          177 non-null    object
 5   Lat                  175 non-null    float64
 6   Long_                175 non-null    float64
 7   Confirmed            177 non-null    float64
 8   Deaths               177 non-null    float64
 9   Recovered            0 non-null      float64
 10  Active               0 non-null      float64
 11  Combined_Key         177 non-null    object
 12  Incident_Rate        172 non-null    float64
 13  Case_Fatality_Ratio  177 non-null    float64
dtypes: float64(10), object(4)
memory usage: 439.4+ KB

In [14]:
covid["Country_Region"].head(10)

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5             Antarctica
6    Antigua and Barbuda
7              Argentina
8                Armenia
9                    NaN
Name: Country_Region, dtype: object

In [17]:
df1 = covid[["Country_Region","Deaths","Confirmed","Last_Update"]]
df1.head(20)

         Country_Region    Deaths  Confirmed          Last_Update
0           Afghanistan    7807.0   200626.0  2022-10-12 04:22:51
1               Albania    3590.0   332534.0  2022-10-12 04:22:51
2               Algeria    6881.0   270716.0  2022-10-12 04:22:51
3               Andorra     155.0    46275.0  2022-10-12 04:22:51
4                Angola    1917.0   103131.0  2022-10-12 04:22:51
5            Antarctica       0.0       11.0  2022-10-12 04:22:51
6   Antigua and Barbuda     146.0     9098.0  2022-10-12 04:22:51
7             Argentina  129958.0  9713594.0  2022-10-12 04:22:51
8               Armenia    8700.0   444482.0  2022-10-12 04:22:51
9                   NaN       NaN        NaN                  NaN
10                  NaN       NaN        NaN                  NaN
11                  NaN       NaN        NaN                  NaN
12                  NaN       NaN        NaN                  NaN
13                  NaN       NaN        NaN                  NaN
14                  NaN       NaN        NaN                  NaN
15                  NaN       NaN        NaN                  NaN
16                  NaN       NaN        NaN                  NaN
17              Austria   20857.0  5273660.0  2022-10-12 04:22:51
18           Azerbaijan    9931.0   822278.0  2022-10-12 04:22:51
19              Bahamas     833.0    37318.0  2022-10-12 04:22:51

In [18]:
df1.iloc[1:4]

  Country_Region  Deaths  Confirmed          Last_Update
1        Albania  3590.0   332534.0  2022-10-12 04:22:51
2        Algeria  6881.0   270716.0  2022-10-12 04:22:51
3        Andorra   155.0    46275.0  2022-10-12 04:22:51

In [19]:
df1.loc[df1["Country_Region"] == "Turkey"]

    Country_Region    Deaths   Confirmed          Last_Update
676         Turkey  101203.0  16919638.0  2022-10-12 04:22:51

In [25]:
for index, row in df1.iterrows():
    if(row["Country_Region"] == "Indonesia"):
        display(row[["Country_Region", "Confirmed"]])

Country_Region    Indonesia
Confirmed         6448220.0
Name: 287, dtype: object

In [22]:
covid["Country_Region"].drop_duplicates(keep = "first").head(10)

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5             Antarctica
6    Antigua and Barbuda
7              Argentina
8                Armenia
9                    NaN
Name: Country_Region, dtype: object