In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
v = np.array([1,2,3,4,5,6,7])
s1 = pd.Series(v)
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [3]:
s1.nbytes

28

In [4]:
s0 = pd.Series([1,2,3], index = ['a','b','c'])
s0

a    1
b    2
c    3
dtype: int64

In [6]:
s1.index = ['a','b','c','d','e','f','g']
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [7]:
v2 = np.random.random(10)
ind2 =np.arange(0,10)
s = pd.Series(v2, ind2)
v2, ind2, s

(array([0.5495304 , 0.45204501, 0.60294572, 0.33602256, 0.60536083,
        0.35622506, 0.16136872, 0.64496514, 0.15052942, 0.92220013]),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 0    0.549530
 1    0.452045
 2    0.602946
 3    0.336023
 4    0.605361
 5    0.356225
 6    0.161369
 7    0.644965
 8    0.150529
 9    0.922200
 dtype: float64)

In [9]:
dict1 = {'a1':10,'a2':20,'a3':30,'a4':40}
s3 = pd.Series(dict1)
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [10]:
pd.Series(99, index = [0,1,2,3,4,5])

0    99
1    99
2    99
3    99
4    99
5    99
dtype: int64

In [11]:
s

0    0.883943
1    0.262205
2    0.191164
3    0.081581
4    0.598545
5    0.539976
6    0.861368
7    0.846038
8    0.314979
9    0.140102
dtype: float64

In [12]:
s[:]

0    0.883943
1    0.262205
2    0.191164
3    0.081581
4    0.598545
5    0.539976
6    0.861368
7    0.846038
8    0.314979
9    0.140102
dtype: float64

In [13]:
s[0:3]

0    0.883943
1    0.262205
2    0.191164
dtype: float64

In [14]:
s[-1:]

9    0.140102
dtype: float64

In [15]:
s[:-2]

0    0.883943
1    0.262205
2    0.191164
3    0.081581
4    0.598545
5    0.539976
6    0.861368
7    0.846038
dtype: float64

In [16]:
s[-3:-1]

7    0.846038
8    0.314979
dtype: float64

In [17]:
#serileri birle≈ütime

In [18]:
s2 = s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [19]:
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [22]:
s4 = s2.append(s3)
s4

C:\Users\ismmk\AppData\Local\Temp\ipykernel_33692\2452145136.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s4 = s2.append(s3)

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [23]:
s4.drop('a4',inplace = False)

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [24]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [25]:
s4.drop('a4',inplace = True)
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [26]:
s4 = s4.append(pd.Series({'a5' : 7}))
s4

C:\Users\ismmk\AppData\Local\Temp\ipykernel_33692\2331758120.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s4 = s4.append(pd.Series({'a5' : 7}))

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a5     7
dtype: int64

In [27]:
#Seri operasyonlarƒ±

In [28]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1)
s2 = pd.Series(v2)
s1, s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [29]:
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [30]:
s1.sub(s2)

0     9
1    18
2    27
dtype: int32

In [31]:
s1.mul(s2)

0    10
1    40
2    90
dtype: int32

In [32]:
s1.mul(199)

0    1990
1    3980
2    5970
dtype: int32

In [33]:
s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [35]:
s1.max()

30

In [36]:
s1.equals(s2)

False

In [38]:
s5 = pd.Series([1,1,2,2,3,3], index = [0,1,2,3,4,5])
s5

0    1
1    1
2    2
3    2
4    3
5    3
dtype: int64

In [39]:
s5.value_counts()

1    2
2    2
3    2
dtype: int64

In [40]:
#DataFrame (Veri √áer√ßevesi)

In [7]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [10]:
lang = ['Java', 'Python', 'C','C++']
df = pd.DataFrame(lang)
df

        0
0    Java
1  Python
2       C
3     C++

In [11]:
rating = [1,2,3,4]
df[1] = rating
df

        0  1
0    Java  1
1  Python  2
2       C  3
3     C++  4

In [12]:
df.columns = ['Language', 'Rating']
df

  Language  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4